In [1]:
pip install emoji --upgrade

Requirement already satisfied: emoji in c:\python310\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

In [2]:
pip install Unidecode==0.04.1

Requirement already satisfied: Unidecode==0.04.1 in c:\python310\lib\site-packages (0.4.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

In [5]:
%pip install transformers==2.1.0

Collecting transformers==2.1.0
  Using cached transformers-2.1.0-py3-none-any.whl (313 kB)
Requirement already satisfied: requests in c:\python310\lib\site-packages (from transformers==2.1.0) (2.28.1)
Requirement already satisfied: numpy in c:\python310\lib\site-packages (from transformers==2.1.0) (1.23.4)
Collecting boto3
  Using cached boto3-1.26.6-py3-none-any.whl (132 kB)
Requirement already satisfied: tqdm in c:\python310\lib\site-packages (from transformers==2.1.0) (4.64.1)
Requirement already satisfied: sentencepiece in c:\python310\lib\site-packages (from transformers==2.1.0) (0.1.97)
Requirement already satisfied: regex in c:\python310\lib\site-packages (from transformers==2.1.0) (2022.10.31)
Requirement already satisfied: sacremoses in c:\python310\lib\site-packages (from transformers==2.1.0) (0.0.53)
Collecting s3transfer<0.7.0,>=0.6.0
  Using cached s3transfer-0.6.0-py3-none-any.whl (79 kB)
Collecting botocore<1.30.0,>=1.29.6
  Using cached botocore-1.29.6-py3-none-any.whl (9.9 MB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\python310\lib\site-packages (from boto3->transformers==2.1.0) (1.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\python310\lib\site-packages (from requests->transformers==2.1.0) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\python310\lib\site-packages (from requests->transformers==2.1.0) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\python310\lib\site-packages (from requests->transformers==2.1.0) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in c:\python310\lib\site-packages (from requests->transformers==2.1.0) (3.4)
Requirement already satisfied: six in c:\python310\lib\site-packages (from sacremoses->transformers==2.1.0) (1.16.0)
Requirement already satisfied: joblib in c:\python310\lib\site-packages (from sacremoses->transformers==2.1.0) (1.2.0)
Requirement already satisfied: click in c:\python310\lib\site-packages (from sacremoses->transformers==2.1.0) (8.1.3)
Requirement already satisfied: colorama in c:\users\zelia\appdata\roaming\python\python310\site-packages (from tqdm->transformers==2.1.0) (0.4.6)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\python310\lib\site-packages (from botocore<1.30.0,>=1.29.6->boto3->transformers==2.1.0) (2.8.2)
Installing collected packages: botocore, s3transfer, boto3, transformers
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an OSError: [WinError 2] O sistema não pode encontrar o arquivo especificado: 'c:\\Python310\\Scripts\\transformers.exe' -> 'c:\\Python310\\Scripts\\transformers.exe.deleteme'

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)

In [6]:
import pandas as pd 
import re
import emoji
import unidecode
from transformers import BertTokenizer

To use data.metrics please install scikit-learn. See https://scikit-learn.org/stable/index.html
Neither PyTorch nor TensorFlow >= 2.0 have been found.Models won't be available and only tokenizers, configurationand file/data utilities can be used.

In [4]:
xlsx = pd.ExcelFile('tweets_classificados.xlsx')
df1 = pd.read_excel(xlsx, '2019')
df2 = pd.read_excel(xlsx, '2020')

df1

,classe,id,texto
0,1,1093326657560240128,@giucarv papo de eu cometer suicídio
1,3,1111287234572009472,@chegueste tá a cara do suicídio hoje
2,3,1189370037037125633,@mestreladino Que gosta de esquadrão suicida
3,2,1188845613363978240,@rodrigobocardi @luizfornelli Estranho ver fal...
4,3,1192502743732236288,"Quando eu sumi, eu tentei suicídio... fiquei t..."
...,...,...,...
995,3,1165351025261326337,@biaoo_ Esquadrão suicida
996,1,1135320580109078528,@gomesdeco @EU_BRAZUKA @ROODRIGOMATEUS @Smith_...
997,1,1198404596441518081,vou dormir to triste por 182738392922 motivos ...
998,2,1168550361260527618,Essa papo é perverso também porque culpabiliza...
999,1,1165648621112573954,"apavorada com essa menina q se jogou, se suicidou"

In [5]:
def replace_retweet(tweet, default_replace=""):
  tweet = re.sub('RT\s+', default_replace, tweet)
  return tweet

In [6]:
def demojize(tweet):
  tweet = emoji.demojize(tweet)
  return tweet

In [7]:
def replace_url(tweet, default_replace=""):
  tweet = re.sub('(http|https):\/\/\S+', default_replace, tweet)
  return tweet

In [8]:
def replace_hashtag(tweet, default_replace=""):
  tweet = re.sub('#+', default_replace, tweet)
  return tweet

In [9]:
def replace_tagging(tweet):
  while True:
    posicaoArroba = tweet.find('@')
    if posicaoArroba == -1:
        break
    finalPalavraArroba = tweet[posicaoArroba:].find(' ')
    if finalPalavraArroba == -1:
        tweet = tweet[:posicaoArroba]
    else:
        tweet = tweet[:posicaoArroba] + tweet[posicaoArroba + (finalPalavraArroba + 1):]
  return tweet

In [10]:
def to_lowercase(tweet):
  tweet = tweet.lower()
  return tweet

In [11]:
def word_repetition(tweet):
  tweet = re.sub(r'(.)\1+', r'\1\1', tweet)
  return tweet

In [12]:
def punct_repetition(tweet, default_replace=""):
  tweet = re.sub(r'[\?\.\!]+(?=[\?\.\!])', default_replace, tweet)
  return tweet

In [13]:
def remove_accents(tweet):
  tweet_norm = unidecode.unidecode(tweet)
  return tweet_norm

In [ ]:
def tokenize(tweet): 
    tokenizer = BertTokenizer.from_pretrained("bert-base-cased")
    tokenized_sequence = tokenizer.tokenize(tweet)
    inputs = tokenizer(tweet)

In [14]:
df1_norm = df1
for i in df1['texto']: 
  tweet = str(i)

  tweet = replace_retweet(tweet)
  tweet = demojize(tweet)
  tweet = replace_url(tweet)
  tweet = replace_tagging(tweet)
  tweet = replace_hashtag(tweet)
  tweet = to_lowercase(tweet)
  tweet = word_repetition(tweet)
  tweet = punct_repetition(tweet)
  tweet = remove_accents(tweet)

  df1_norm['texto'] = df1['texto'].replace(str(i), tweet)


df1_norm

,classe,id,texto
0,1,1093326657560240128,papo de eu cometer suicidio
1,3,1111287234572009472,ta a cara do suicidio hoje
2,3,1189370037037125633,que gosta de esquadrao suicida
3,2,1188845613363978240,estranho ver falarem de suicidio se pelas norm...
4,3,1192502743732236288,"quando eu sumi, eu tentei suicidio. fiquei tre..."
...,...,...,...
995,3,1165351025261326337,esquadrao suicida
996,1,1135320580109078528,a ainda tentou forjar um assalto mas o pai del...
997,1,1198404596441518081,vou dormir to triste por 182738392922 motivos ...
998,2,1168550361260527618,essa papo e perverso tambem porque culpabiliza...
999,1,1165648621112573954,"apavorada com essa menina q se jogou, se suicidou"

In [15]:
df2_norm = df2
for i in df2['texto']: 
  tweet = str(i)

  tweet = replace_retweet(tweet)
  tweet = demojize(tweet)
  tweet = replace_url(tweet)
  tweet = replace_hashtag(tweet)
  tweet = replace_tagging(tweet)
  tweet = to_lowercase(tweet)
  tweet = word_repetition(tweet)
  tweet = punct_repetition(tweet)
  tweet = remove_accents(tweet)

  df2_norm['texto'] = df2['texto'].replace(str(i), tweet)


df2_norm

,classe,id,texto
0,2,1344408706566467589,mortes no ano de 2020:- 394.076 - malaria- 489...
1,3,1344355193220190210,"jose de abreu: 'brasil se matou, bolsonaro e a..."
2,1,1344425351804547073,"o ano novo vai trazer meu suicidio,eu confio"
3,1,1344351306941681665,"tw // suicidioa cada rt ou fav, eu vou anotar..."
4,3,1344425112716640256,suicidio
...,...,...,...
996,3,1344323118022668288,"tirando esquadrao suicida, os filme e tudo bom..."
997,2,1344323092059987968,eu acho que remedio e uma coisa a qual voce de...
998,3,1344322928633143298,"garen suicida, ate o time inimigo falou q pass..."
999,1,1344322847867629568,e todas querem cometer suicidio
1000,1,1344322806075502592,por um tempo curto eu tirei a ideia do suicidi...

In [16]:
df1_norm.to_excel('tweets_normalizados_2019.xlsx', sheet_name='2019_normalizados', index=False)

In [17]:
df2_norm.to_excel('tweets_normalizados_2020.xlsx', sheet_name='2020_normalizados', index=False)